body {
  background: rgb(228, 232, 236);
}
.ghost {
  opacity: 0.5;
  background-color: #c8ebfb;
}
.items {
  transition: 0.4s background;
  &.hover {
    background: #fbc8c8;
  }
}
.item {
  transition: 0.4s background;
  &.hover {
    background: #c8ebfb;
  }
}
.none {
  display: none;
}
.disp {
  display: block;
}

.text-disabled {
  color: #e9ecef;
}
