<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/todo.css" />
    <script defer src="https://unpkg.com/vue@2.6.12"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"
    ></script>
    <script defer src="./js/todo.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row my-4"></div>
        <div class="row mb-4">
          <div class="col-auto">
            <button class="btn btn-primary" v-on:click="addGroup">
              タスクグループの追加
            </button>
          </div>
        </div>

        <draggable
          class="row flex-nowrap w-100"
          ghost-class="ghost"
          style="overflow: auto"
          :list="tasks"
          @end="saveCurrent"
        >
          <div
            class="col-3 items py-4 m-2 bg-info"
            v-for="(gItem,gIndex) in tasks"
            :key="'task-' + gIndex"
            v-on:mouseenter="addClass($event)"
            v-on:mouseleave="removeClass($event)"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control fw-bold"
                v-model="gItem.name"
                placeholder="グループ名を入力"
              />

              <div class="text-end mt-2">
                <button
                  class="btn btn-sm btn-outline-danger"
                  v-on:click="delGroup(gIndex)"
                >
                  このタスクグループを削除
                </button>
              </div>
            </div>
            <div class="rounded">
              <div class="p-3">
                <button
                  class="btn w-100 btn-secondary"
                  v-on:click="addTask(gItem)"
                >
                  タスクの追加
                  <span class="badge rounded-pill bg-danger"
                    >{{ gItem.task.length }}件</span
                  >
                </button>
              </div>
              <draggable
                class="items"
                ghost-class="ghost"
                :list="gItem.task"
                group="tasks"
                @end="saveCurrent"
              >
                <div
                  class="item p-3 bg-white rounded mb-2"
                  v-for="(tItem,tIndex) in gItem.task"
                  :key="'item-' + tIndex"
                  v-on:mouseenter="addClass($event)"
                  v-on:mouseleave="removeClass($event)"
                >
                  <textarea
                    class="form-control"
                    style="height: 100px"
                    v-model="tItem.name"
                    placeholder="タスクを入力"
                  ></textarea>
                  <div class="row mt-2">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        v-model="tItem.note"
                        placeholder="メモを入力"
                      />
                    </div>
                    <div class="col-sm-auto" style="padding-left: 0">
                      <button
                        class="btn btn-outline-danger"
                        v-on:click="addNote(tItem, gIndex, tIndex)"
                      >
                        確定
                      </button>
                    </div>
                  </div>
                  <div
                    class="accordion mt-2"
                    v-bind:class="tItem.notes.length > 0 ? 'disp' : 'none'"
                    v-bind:id="'accordion-' + gIndex + '-' + tIndex"
                  >
                    <div class="accordion-item">
                      <h2
                        class="accordion-header"
                        v-bind:id="'heading-' + gIndex + '-' + tIndex"
                      >
                        <button
                          type="button"
                          class="accordion-button collapsed"
                          data-bs-toggle="collapse"
                          v-bind:data-bs-target="'#collapse-' + gIndex + '-' + tIndex"
                          aria-expanded="true"
                          v-bind:aria-controls="'collapse-' + gIndex + '-' + tIndex"
                        >
                          メモ
                        </button>
                      </h2>
                      <div
                        v-bind:id="'collapse-' + gIndex + '-' + tIndex"
                        class="accordion-collapse collapse"
                        v-bind:aria-labelledby="'heading-' + gIndex + '-' + tIndex"
                        v-bind:data-bs-parent="'#accordion-' + gIndex + '-' + tIndex"
                      >
                        <div class="accordion-body pt-1 pb-1">
                          <ul
                            class="row mt-1 list-group"
                            v-for="(nItem,nIndex) in tItem.notes"
                            :key="'note-' + nIndex"
                          >
                            <li class="list-group-item">
                              <button
                                type="button"
                                class="btn btn-primary rounded-circle p-0 me-1"
                                style="width: 2rem; height: 2rem"
                                v-on:click="delNote(tItem.notes, nIndex)"
                              >
                                −
                              </button>
                              <a
                                v-if="nItem.isLink"
                                v-bind:href="nItem.url"
                                target="_blank"
                                style="overflow-wrap: break-word"
                                >{{nItem.val}}</a
                              >
                              <p v-else style="display: inline-block">
                                {{nItem.val}}
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <input
                    type="date"
                    class="form-control mt-2 limit-date"
                    v-model="tItem.date"
                    v-on:change="changeClassDate($event)"
                  />
                  <div class="text-end mt-2">
                    <button
                      class="btn btn-sm btn-outline-danger"
                      v-on:click="delTask(gItem.task,tIndex)"
                    >
                      このタスクを削除
                    </button>
                  </div>
                </div>
              </draggable>
            </div>
          </div>
        </draggable>
      </div>
    </div>
  </body>
</html>
